################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnerSave/EnerSave/bin
/EnerSave/EnerSave/obj
