@model ConsultasMVC.Entities.UsuarioEntity

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastro de Usuários</h2>
<h5>Informe abaixo os dados necessários para o registro do usuário.</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha</label>
                <input asp-for="Senha" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label asp-for="Administrador" class="control-label">Administrador</label>
                @Html.RadioButtonFor(Models => Models.Administrador, 1)
                <span>Sim</span>

                @Html.RadioButtonFor(Models => Models.Administrador, 0)
                <span>Não</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
