@model ConsultasMVC.Entities.DescarteLixoEntity

@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão de Descarte de Lixo</h2>

<h4>Deseja realmente remover este descarte de lixo? </h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Peso total orgânico (Kg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
         <dt>
            Peso total seletivo (Kg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            Período:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            Usuário:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index" >Cancelar</a>
    </form>
</div>
