@model ConsultasMVC.Entities.GastosEnergiaEntity


@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão de Gastos de Luz</h2>

<h4>Deseja realmente remover este gasto com luz? </h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Consumo(kWh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kwh)
        </dd>
        <dt>
            Valor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            Período:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            Usuário:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
