@model ConsultasMVC.Entities.GastosAguaEntity


@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão de Gastos de Água</h2>

<h4>Deseja realmente remover este gasto com água? </h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Metros Cúbicos (m3):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetrosCubicos)
        </dd>
        <dt>
            Período:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            Usuário:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
