@model ConsultasMVC.Entities.GastosAguaEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Gastos de Água</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Metros Cúbicos (m3):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetrosCubicos)
        </dd>
        <dt>
            Período:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            Usuário:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <br />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Alterar</a> |
    <a asp-action="Index">Voltar</a>
</div>
