@model string
@{
    ViewData["Title"] = "Home Page";
}

<h2>EnerSave - Controle de Gastos e Descarte de Lixo</h2>
<br />
<h3>História</h3>
<hr />
<h7>O sistema de controle de gastos e descarte de lixo EnerSave, foi criado em 2022, originado na disciplina de projeto empreendedor na faculdade FTEC em Caxias do Sul.</h7>
<!-- <img src="https://www.ftec.com.br/static/front_end/_images/uniftec/4.jpg" weigth=500 height=500> -->
<br />
<br />
<h3>Objetivo</h3>
<hr />
<h7>O objetivo do EnerSave é proporcionar aos usuários uma maneira de controlar seus gastos anuais e o consumo de lixo, através de gráficos/indicadores para uma análise mais detalhada.</h7>
<h7>O sistema conta com a funcionalidade de cadastrar os valores gastos e o consumo, seja de água ou energia.</h7>
<br />
<br />
<h3>Contato</h3>
<hr />
<h7>Para maiores informações, pode-se contatar a área comercial do EnerSave que estão prontos para esclarecer todas suas dúvidas ;).</h7>
<br />
<br />
<h7><p>Email: enersavebrasil@outlook.com.br</p>
    <p>Telefone: (54) 3214-5475</p>
    <p>Endereço: Caxias do Sul - Rua José Jaconi 2913</p>
</h7>



<script>
    XMLHttpRequest.prototype.open = (function (open) {
        return function (method, url, async) {
            open.apply(this, arguments);
            this.setRequestHeader('token', '@Model');
        };
    })(XMLHttpRequest.prototype.open);
</script>
