@{
    ViewData["Title"] = "Home Page";
}

<style>
body { background: url('https://img.freepik.com/vetores-gratis/conceito-de-design-moderno-de-ilustracao-vetorial-de-fundo-abstrato-tecnologia-de-cor-branca_29865-4088.jpg?w=2000') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
</style>

<h1><font color="black">EnerSave - Controle de Gastos e Descarte de Lixo </font> </h1>
<span style="color: black;";">
    Desenvolvido por:<br><br /> 
</span>
<span style="color: black;" ;">
    Richard Gehlen Castilhos
</span>




